body {
  background: #f2f2f2;
  font-family: Arial;
}

.calculator {
  width: 260px;
  margin: 100px auto;
  background: white;
  padding: 15px;
  border-radius: 8px;
}

#display {
  width: 100%;
  height: 40px;
  font-size: 18px;
  text-align: right;
  margin-bottom: 10px;
  padding-right: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

button {
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

.zero {
  grid-column: span 2;
}
